export VITE_SUPABASE_URL=http://127.0.0.1:54321
export VITE_SUPABASE_PUBLISHABLE_KEY=

export VITE_PUBLIC_POSTHOG_KEY=
export VITE_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

export SPOTIFY_CLIENT_ID=
export SPOTIFY_CLIENT_SECRET=

export SOUNDCLOUD_CLIENT_ID=
export SOUNDCLOUD_CLIENT_SECRET=

export LINEAR_API_TOKEN=